.theHead {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(255, 255, 255, 1) 0%,
        rgba(193, 236, 255, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: contain;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 100px;
}

.navbar {
    font-size: small;
}

.navbar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.corps {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    flex-wrap: nowrap;
    padding-bottom: 25%;
}

.left {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%;
}

.navbar a {
    text-decoration: none;
    margin-right: 10px;
    color: rgb(100, 99, 99);
}

.navbar a:active {
    color: #f2b0bc;
}
.navbar a:nth-child(5) {
    margin-right: 0px;
}
.navbar i {
    margin-right: 5px;
}

.favicons {
    padding-top: 5%;
    padding-bottom: 10%;
}

.favicontop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.faviconbot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.favicons1 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 5% 3% 5%;
    border-radius: 5%;
    margin-bottom: 3%;
    text-align: center;
    margin-right: 2%;
}
.favicons2 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 5% 3% 5%;
    border-radius: 5%;
    margin-bottom: 3%;
    text-align: center;
    margin-right: 2%;
}
.favicons3 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 5% 3% 5%;
    border-radius: 5%;
    margin-bottom: 3%;
    text-align: center;
    margin-right: 2%;
}
.favicons4 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 5% 3% 5%;
    border-radius: 5%;
    margin-bottom: 3%;
    text-align: center;
    margin-right: 2%;
}
.favicons5 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 5% 3% 5%;
    border-radius: 5%;
    margin-bottom: 3%;
    text-align: center;
    margin-right: 2%;
}
.favicons6 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 5% 3% 5%;
    border-radius: 5%;
    margin-bottom: 3%;
    text-align: center;
    margin-right: 2%;
}

.buttonb {
    margin-top: 30px;
    size: 40px;
}
.butta {
    font-size: 12px;
    color: white;
    background-color: #594cda;
    text-decoration: none;
    margin-left: auto;
    border-radius: 20px;
    padding: 12px 40px;
}
.buttb {
    color: white;
    background-color: #eb427d;
    text-decoration: none;
    font-size: 12px;
    margin-left: auto;
    border-radius: 20px;
    padding: 12px 40px;
}
