@media (max-width: 500px) {
}
@media (max-width: 750px) {
}
@media (max-width: 1250px) {
}

.theHead {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(255, 255, 255, 1) 0%,
        rgba(193, 236, 255, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: contain;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 100px;
}
.navbar {
    font-size: small;
}

.corps {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-wrap: nowrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 150px;
}

.navbar a {
    text-decoration: none;
    margin-right: 10px;
    color: rgb(100, 99, 99);
}

.navbar a:active {
    color: #f2b0bc;
}
.navbar a:nth-child(5) {
    margin-right: 0px;
}
.navbar i {
    margin-right: 5px;
}

.favicons {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}

.favicontop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.faviconbot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.favicons1 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 15px;
}
.favicons2 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 15px;
}
.favicons3 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 15px;
}
.favicons4 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 15px;
}
.favicons5 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 15px;
}
.favicons6 {
    background-color: #f0fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 15px;
}

.button {
    margin-top: 30px;
    size: 40px;
}
.butt {
    font-size: 12px;
    color: white;
    background-color: #594cda;
    text-decoration: none;
    margin-left: auto;
    border-radius: 20px;
    padding: 12px 40px;
}
.butt2 {
    color: white;
    background-color: #eb427d;
    text-decoration: none;
    font-size: 12px;
    margin-left: auto;
    border-radius: 20px;
    padding: 12px 40px;
}
