body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(244, 244, 244, 1) 0%,
        rgba(193, 236, 255, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: contain;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 100px;
}

.corps {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-wrap: nowrap;
    padding-top: 100px;
}

.left {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    margin-right: 15px;
    color: rgb(100, 99, 99);
}
