h2 {
    color: #252c38;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.625rem;
    letter-spacing: -0.4px;
}

a {
    color: #6b747b;
    text-decoration: underline;
}

.text-container1 {
    width: 30%;
    margin-left: 10%;
}

.text-container2 {
    width: 30%;
    margin-left: 5%;
    padding-top: 2%;
}

.text-container3 {
    width: 30%;
    margin-left: 10%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 85%;
    margin-left: 10%;
}

.img-fluid1 {
    max-width: 100%;
    height: auto;
    width: 85%;
    margin-left: 10%;
}

a:hover {
    color: #6b747b;
    text-decoration: underline;
}

.no-line {
    text-decoration: none;
}

.no-line:hover {
    text-decoration: none;
}

.purple {
    color: #594cda;
}

.bg-gray {
    background-color: #f1f9fc;
}

.container {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    margin-top: 10%;
}

.container3 {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    align-items: center;
    margin-top: 10%;
}

.btn-solid-reg {
    display: inline-block;
    padding: 1.375rem 2.25rem 1.375rem 2.25rem;
    border: 1px solid #594cda;
    border-radius: 32px;
    background-color: #594cda;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-reg:hover {
    border: 1px solid #594cda;
    background-color: transparent;
    color: #594cda; /* needs to stay here because of the color property of a tag */
    text-decoration: none;
}

.btn-outline-reg {
    display: inline-block;
    padding: 1.375rem 2.25rem 1.375rem 2.25rem;
    border: 1px solid #252c38;
    border-radius: 32px;
    background-color: transparent;
    color: #252c38;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-reg:hover {
    background-color: #252c38;
    color: #ffffff;
    text-decoration: none;
}

.counter {
    display: flex;
    text-align: center;
    padding-top: 10%;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 5%;
}

.counter-value {
    font-size: 350%;
    font-weight: bold;
    color: black;
}

.counter-info {
    padding-top: 10%;
}

body,
p {
    color: #6b747b;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
